
.image-container{
    padding-top: 30px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.image{
    background-image: url("/src/images/company-programming.jpg");
    width:600px;
    height:400px;
    margin-right:80px;
    
}
footer{

background-color: rgb(17, 125, 219);
height: 200px;
width: 900px;
margin-right: 240px;

}
